
body {

  cursor: url('cursor.cur'), auto;
  background: black url("background.gif") no-repeat fixed center;
  background-size: cover;
  color: white ;
  text-align: center;
  margin-left: left;
  margin-right: right;
  padding: 10px;
  margin: 10px;
  min-height: 500px;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-gap: 5px;
}
.button {
  font: bold 11px url(specialelite.ttf);
  text-decoration: none;
  text-align: center;
  background-color: #EEEEEE;
  color: black;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  height: 20px;
  width: 65px;
  margin: 0 auto;
}

.buttons {
  text-align: center;
  }

@font-face {
  font-family: myFirstFont;
  src: url(specialelite.ttf);
}

div {
  font-family: myFirstFont;
  display: grid;


}
img {
  width: 100px;
  margin: 0 auto;
}
